*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}